* {
    padding: 0px;
    margin: 0px;
}
/* logo positioning */
.rounded-circle {
    position: fixed;
    height: 160px;
    width: 160px;
    border-radius: 50%;
    left: calc(50% - 80px);
    top: calc(50% - 80px);
}

/* rotate all elements 360deg */
.avatars {
    position: absolute;
    top: 50%;
    left: 50%;
    animation: spinAvatars 30s linear infinite;
}

@keyframes spinAvatars {
    100% {
        transform: rotate(360deg);
    }
}

/* .thumb img containers */
.avatar {
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
}

/* turning thumbs backwards to appear straight always */
.one {
    animation: backward 30s linear infinite;
}

@keyframes backward {
    100% {
        transform: rotate(-360deg);
    }
}

.two {
    transform: rotate(60deg);
    animation: backward2 30s linear infinite;
}

@keyframes backward2 {
    100% {
        transform: rotate(-300deg);
    }
}

.three {
    transform: rotate(120deg);
    animation: backward3 30s linear infinite;
}

@keyframes backward3 {
    100% {
        transform: rotate(-240deg);
    }
}

.four {
    transform: rotate(180deg);
    animation: backward4 30s linear infinite;
}

@keyframes backward4 {
    100% {
        transform: rotate(-180deg);
    }
}

.five {
    transform: rotate(240deg);
    animation: backward5 30s linear infinite;
}

@keyframes backward5 {
    100% {
        transform: rotate(-120deg);
    }
}

.six {
    transform: rotate(300deg);
    animation: backward6 30s linear infinite;
}

@keyframes backward6 {
    100% {
        transform: rotate(-60deg);
    }
}

/* process images to fit without losing ratio and animate zoom in/out*/
img {
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 50%;
    object-fit: cover;
}
