.wrrp {
    /*min-height: 100vh;*/
}

.avatars {
    top: 50%;
    left: 50%;
    position: absolute;
    /* border: 2px solid green; */
    height: 0px;
    width: 0px;
    /* border-radius: 50%; */
    animation: spinAvatars 30s linear infinite;
}

@keyframes spinAvatars {
    100% {
        transform: rotate(360deg);
    }
}

.avatar {
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    height: 100px;
    width: 100px;
    /* border: 2px solid bisque; */
    border-radius: 50%;
    text-align: center;
}

.thumb {
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url("../../assets/city-lights-night-traffic-highway-roads-1609975.jpg");
    background-size: cover;
}

.one {
    animation: backward 30s linear infinite;
}

@keyframes backward {
    100% {
        transform: rotate(-360deg);
    }
}

.two {
    transform: rotate(60deg);
    animation: backward2 30s linear infinite;
}

@keyframes backward2 {
    100% {
        transform: rotate(-300deg);
    }
}

.three {
    transform: rotate(120deg);
    animation: backward3 30s linear infinite;
}

@keyframes backward3 {
    100% {
        transform: rotate(-240deg);
    }
}

.four {
    transform: rotate(180deg);
    animation: backward4 30s linear infinite;
}

@keyframes backward4 {
    100% {
        transform: rotate(-180deg);
    }
}

.five {
    transform: rotate(240deg);
    animation: backward5 30s linear infinite;
}

@keyframes backward5 {
    100% {
        transform: rotate(-120deg);
    }
}

.six {
    transform: rotate(300deg);
    animation: backward6 30s linear infinite;
}

@keyframes backward6 {
    100% {
        transform: rotate(-60deg);
    }
}

.avatar:nth-child(1) {
    transform: translateY(-150px);
    background: darkslategrey;
    background-size: cover;
}

.avatar:nth-child(2) {
    transform-origin: center;
    transform: rotate(-60deg) translateY(-150px);
    background: goldenrod;
}

.avatar:nth-child(3) {
    transform: rotate(-120deg) translateY(-150px);
    background: springgreen;
}

.avatar:nth-child(4) {
    transform: rotate(180deg) translateY(-150px);
    background: crimson;
}

.avatar:nth-child(5) {
    transform: rotate(120deg) translateY(-150px);
    background: whitesmoke;
}

.avatar:nth-child(6) {
    transform: rotate(60deg) translateY(-150px);
    background: darkolivegreen;
}
