@model AspNetCoreTemplate.Web.ViewModels.Promoter.IndexPromoterViewModel

<div>

    <form id="myForm">
        @Html.DropDownListFor(m => m.ProjectId, ViewBag.ProjectList as SelectList, "--select--", new { @class = "form-control", @placeholder = "Projects" })
        <a href="#" onclick="saveForm" id="btnSubmit" class="btn btn-success btn-block">Save</a>
    </form>
    <div style="text-align: center; display: none" id="loaderDiv"></div>
</div>


<script>
    $(document).ready(function() {

        $("#btnSubmit").click(function() {
            $("#loaderDiv").show();
            var myformdata = $("#myForm").serialize();
            alert("success");
            $.ajax({
                type: "POST",
                url: "/Promoters/EditPromoter",
                data: myformdata,
                success: function() {
                    $("#loaderDiv").hide();
                    $("#editPromoter").modal("hide");
                }

            });
        });
    });
    var saveForm = function () {
         
    }
</script>