<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">Add Promoter</h1>
        <div style="padding: 5%;">
            <form method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="First name ,Last name">
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="text" class="form-control" id="email" name="endPoint" placeholder="Email Adreess">
                </div>
                <div class="form-group">
                    <label for="language">Language</label>
                    <input type="text" class="form-control" id="language" name="language" placeholder="language">
                </div>
                <div class="form-group">
                    <label for="imagePath"> Image</label>
                    <input type="text" class="form-control" id="imagePath" name="imagePath" placeholder="https://...">
                </div>
                <div class="form-group">
                    <label for="abilities"> Abilities</label>
                    <input type="text" class="form-control" id="abilities" name="abilities" placeholder="Abilities">
                </div>
                <div class="form-group">
                    <label for="gender"> Gender</label>
                    <input type="text" class="form-control" id="gender" name="gender" placeholder="Male or Female">
                </div>
                <div class="form-group">
                    <label for="mobile"> Mobile</label>
                    <input type="text" class="form-control" id="mobile" name="mobile" placeholder="+359">
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input min="18" max="99" type="number" class="form-control" id="age" name="age" placeholder="Age">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" name="description" placeholder="...">
                </div>
                <button type="submit" class="btn btn-primary text-uppercase">Submit</button>
            </form>
        </div>
    </div>

</section>