@model AspNetCoreTemplate.Web.ViewModels.Promoter.AddPromoterInputModel
<section class="py-3">
    <div class="container">
        <h1 style="margin: 1%; text-align: center;">Add Promoter</h1>
        <div style="padding: 3%;">
            <form method="post">
                
                
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group w-50">
                    <label asp-for="FirstName">First Name</label>
                    <input type="text" class="form-control" size="30" id="firstName" name="firstName" placeholder="First name">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group w-50">
                    <label asp-for="LastName">Last Name</label>
                    <input type="text" class="form-control" size="30" id="lastName" name="lastName" placeholder="Last name">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group w-50">
                    <label asp-for="Email">Email</label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="Email Adreess">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group w-50">
                    <label asp-for="City"></label>
                    <input class="form-control" id="city" name="city" placeholder="City">
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>

                <div class="form-group w-50">
                    <label asp-for="Language">Language</label>
                    <input type="text" class="form-control" id="language" name="language" placeholder="language">
                    <span asp-validation-for="Language" class="text-danger"></span>
                </div>
                <div class="form-group w-50">
                    <label for="imageurl">ImageUrl</label>
                    <input type="text" class="form-control" id="imageurl" name="imageurl" placeholder="https://...">
                </div>
                <div class="form-group w-50">
                    <label asp-for="Skills">Skills</label>
                    <input type="text" class="form-control" id="skills" name="skills" placeholder="Skills">
                    <span asp-validation-for="Skills" class="text-danger"></span>
                </div>
                <div class="form-group w-50">
                    <label as="gender">Gender</label>
                    <input type="text" class="form-control" id="gender" name="gender" placeholder="Male or Female">
                </div>
                <div class="form-group w-50">
                    <label asp-for="Mobile"> Mobile</label>
                    <input type="text" class="form-control" id="mobile" name="mobile" placeholder="+359">
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
                <div class="form-group w-50">
                    <label asp-for="Age">Age</label>
                    <input min="18" max="99" type="number" class="form-control" id="age" name="age" placeholder="Age">
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <div class="form-group w-50">
                    <label asp-for="Description">Description</label>
                    <textarea rows="4" class="form-control" id="description" name="description" placeholder="..."></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary text-uppercase">Submit</button>
            </form>
        </div>
    </div>

</section>