@using AspNetCoreTemplate.Data.Models.Enum
@model AspNetCoreTemplate.Web.ViewModels.Promoter.IndexPromoterViewModel
@{
    var projectsItems = this.Model.ProjectsItems.Select(x => new SelectListItem(x.Value, x.Key));
    var groupsItems = this.Model.GroupsItems.Select(x => new SelectListItem(x.Value, x.Key));
}
<br />
<form enctype="multipart/form-data" asp-controller="Promoters" asp-action="Add" method="post" class="mt-3">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row">
        <div class="col-md-6">
            <label asp-for="FirstName" style="color: chocolate">First Name</label>
            <input type="text" class="form-control" size="30" id="firstName" name="firstName" placeholder="First name">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="LastName" style="color: chocolate">Last Name</label>
            <input type="text" class="form-control" size="30" id="lastName" name="lastName" placeholder="Last name">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">
            <label asp-for="City" style="color: chocolate"></label>
            <select asp-for="City" class="form-control" asp-items="@Html.GetEnumSelectList<City>()"><option value="">Please choose City</option></select>
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="District" style="color: chocolate"></label>
            <input class="form-control" id="distict" name="district" placeholder="District">
            <span asp-validation-for="District" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label asp-for="Language" style="color: chocolate" s>Language</label>
            <select asp-for="Language" class="form-control" asp-items="@Html.GetEnumSelectList<Language>()"><option value="">Please choose Language</option></select>
            <span asp-validation-for="Language" class="text-danger"></span>
        </div>
        <div class="col-md-6">

            <label asp-for="ImagePhoto" class="control-label"></label>
            <div class="custom-file">
                <input asp-for="ImagePhoto" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
        </div>
        <span asp-validation-for="ImagePhoto" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label asp-for="Skills" style="color: chocolate">Skills</label>
            <select asp-for="Skills" class="form-control"
                    asp-items="@Html.GetEnumSelectList<Skills>()">
                <option value="">Please choose a Skills</option>
            </select>
            <span asp-validation-for="Skills" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="Gender" style="color: chocolate">Gender</label>
            <select asp-for="Gender" class="form-control" asp-items="@Html.GetEnumSelectList<Gender>()"><option value="">Please choose a Gender</option></select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label asp-for="Mobile" style="color: chocolate"> Mobile</label>
            <input type="text" class="form-control" id="mobile" name="mobile" placeholder="+359">
            <span asp-validation-for="Mobile" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Age" style="color: chocolate" s>Age</label>
            <input min="18" max="99" type="number" class="form-control" id="age" name="age" placeholder="Age">
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label asp-for="Email" style="color: chocolate">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Email Adreess">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Description" style="color: chocolate">Description</label>
            <textarea rows="4" class="form-control" id="description" name="description" placeholder="..."></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <hr style="color: orangered">
    <div class="row-cols-6">
        <label asp-for="ProjectId" style="color: blue">Projects</label>
        <select asp-for="ProjectId" asp-items="projectsItems" class="form-control col-md-4"> <option value="">Please choose Project</option></select>

        <label asp-for="GroupId" style="color: blue">Groups</label>
        <select asp-for="GroupId" asp-items="groupsItems" class="form-control col-md-4"> <option value="">Please choose Group</option></select>
    </div>
    <label asp-for="GalleryFiles" class="control-label"></label>
    <div class="custom-file">
        <input asp-for="GalleryFiles" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">Choose file</label>
    </div>

    <br />

    <button type="submit" class="btn btn-primary text-uppercase">Submit</button>
</form>

