
<form method="Post">
    <div class="form-group w-50">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Group name">
    </div>
    <button type="submit" class="btn btn-primary text-uppercase">Submit</button>
</form>
