
<form asp-controller="Trainings" asp-action="All">
    <button type="submit" class="btn btn-success">Back to Trainings...</button>
</form>
<img src="https://i.imgur.com/DZTbj.gif" alt="Paris" class="center">

