@model FieldPlatformWeb.ViewModels.Training.IndexTrainingInputModel
@{
    var projectsItems = this.Model.ProjectsItems.Select(x => new SelectListItem(x.Value, x.Key));
}
<style type="text/css">
    .control-label {
    }
</style>
<form method="post" enctype="multipart/form-data" asp-action="Add" asp-controller="Trainings">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="col-md-6">
        <label asp-for="Name" style="color: chocolate">Course name</label>
        <input type="text" class="form-control" size="30" id="name" name="name" placeholder="Course name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <label asp-for="ProjectId" style="color: chocolate">Projects</label>
    <select asp-for="ProjectId" asp-items="projectsItems" class="form-control col-md-4"></select>
    <span asp-validation-for="ProjectId" class="text-danger"></span><br />
    <div class="form-group">
        <label asp-for="TrainingPdf" class="control-label"></label>
        <div class="custom-file">
            <input asp-for="TrainingPdf" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        <span asp-validation-for="TrainingPdf" class="text-danger"></span>

    </div>
    @*<div id="QuestionsContainer">
        <label asp-for="Questions"></label>
        <a class="btn btn-primary" onclick="AddQuestion()">+</a>
        <br>
    </div>*@
    <hr>
    <button type="submit" class="btn btn-success text-uppercase">Submit</button>

</form>





@section Scripts {
    <script>
        var questionIndex = 0;
        function AddQuestion() {
          
            $("#QuestionsContainer").append("<div class='form-control'><input type='text'  name='Questions["+ questionIndex +"].Description'/></div>");
            
            questionIndex++;
        }
    </script>
}


