@model FieldPlatform.Web.ViewModels.Client.IndexClientViewModel
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<link href="~/css/Clients.css" rel="stylesheet" asp-append-version="true" />

@{
    this.ViewData["Title"] = "Clients";
}
<div id="testimonials">
    <form action="/Clients/Add">
        <button type="submit" class="btn btn-primary text-uppercase">Add Client</button>
    </form>
    <div class="container _tm-header">
        <h1 class="text-center" style="color: azure">Our Clients</h1>
    </div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Clients)
            {
                <div class="col-12 col-lg-3">
                    <div class="">
                        <img class="card-img-top img-fluid card-image" src="@item.ImageUrl" alt="Card image cap">
                        <div class="card-body">
                            <p class="text-center" style="color: azure">@item.Name</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>