@using AspNetCoreTemplate.Common
@{
    this.ViewData["Title"] = "Home Page";
}
<link href="~/css/Ivailo.css" rel="stylesheet" asp-append-version="true" />
<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <div class="wrrp">
        <div class="avatars">
            <div class="avatar">
                <div class="thumb">1</div>
            </div>
            <div class="avatar">
                <div class="thumb">2</div>
            </div>
            <div class="avatar">
                <div class="thumb">3</div>
            </div>
            <div class="avatar">
                <div class="thumb">4</div>
            </div>
            <div class="avatar">
                <div class="thumb">5</div>
            </div>
            <div class="avatar">
                <div class="thumb">6</div>
            </div>
        </div>
    </div>
</div>
