.footer {
    position: static
}
.userData .row div {
    margin: 0 100px 0 15px;
}
.text-muted {
    width: 15px;
}
body {
    font-family: Georgia, serif;
}
#imgProfile {
    /* position: absolute; */
    /* max-width: 100px; */
    /* float: left; */
    /* margin-right: 30px; */
    /* width: 100px; */
    /* height: 100px; */
    object-fit: cover;
}