<form  asp-action="All" method="Post">
    
    <div class="row input-group col-6">
        <input type="text" name="Search" id="search" class="form-control">
        <a asp-action="All" class="btn btn-success">Back</a>
        <div class="input-group">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>
    
</form>