@using FieldPlatform.Common
@model FieldPlatform.Web.ViewModels.Promoter.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<h1 class="text-center ">Welcome to @GlobalConstants.SystemName!</h1>
<div class="col-md-6 mb-4">

</div>

<link href="~/css/Ivailo.css" rel="stylesheet" asp-append-version="true" />
<img class="rounded-circle z-depth-2 center" alt="100x100" src="https://i.ibb.co/NTWYYPM/Field-TEAM.png"
     data-holder-rendered="true">

<div class="text-center">

    <div class="wrrp">

        <div class="avatars">
            @foreach (var item in Model.Promoters.Take(6).OrderByDescending(x => x.VotesType))
            {
                <div class="avatar">
                    <div class="thumb"><img width="100" height="100" src="@item.ImageUrl"/></div>
                </div>
            }
        </div>
    </div>
</div>


